.personal-section{
    padding: 0 0 96px;
}

.personal__list{
    display: flex;
    gap: 30px;
}

.personal__item{
    text-align: center;
}

.personal__title{
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: var(--personal-title-color);    
}

.personal__text-div{
    width: 350px;
}

.personal__text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: var(--personal-text-color);
}

@media screen and (max-width: 965px){
    .personal-section{
        padding: 0 20px 100px;
    }
    
    .personal__list{
        display: flex;
        gap: 10px;
    }
    
    .personal__item{
        width: 33%;
        text-align: center;
    }

    .personal__item svg{
        width: 88px;
        height: 88px;
    }
    
    .personal__text-div{
        width: 100%;
    }
}

@media screen and (max-width: 790px){
    .personal-section{
        padding: 0 3px 80px;
    }
    
    .personal__list{
        flex-direction: column;
        gap: 48px;
    }
    
    .personal__item{
        width: 100%;
    }

    .personal__item svg{
        width: 106px;
        height: 108px;
    }
    
    .personal__text-div{
        width: 100%;
    }
}